body {
    background: black;
    color: white;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
}

div{
    /* border: solid 1px red; */
}

#kalkulator{
    border: solid 1px white;
    padding: 10px;
    background: linear-gradient(#ccf, #88f);
    color: black;
    min-width: 200px;
}

.wrapper{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin: 10px 0;
}

.wrapper div{
    width: 100%;
    /* background: black; */
    padding: 5px 10px;
}

#hasil, #btn-hitung{
    font-size: 22px;
}

#operasi-temporer{
    font-size: 9px;
}

.bg-abu{background: #D8D8D8;}
.bg-red{background: #C00000;}
.bg-dark-brown{background: #4a452a;}
.bg-brown{background: #974807;}
.bg-dark-blue{background: #376091;}
.bg-purple{background: #7030A0;}
.bg-green{background: #00B050;}
.bg-blue{background: #5007fc;}

#judul{
    padding: 10px;
}

.tombol{
    border: solid 1px #ccc;
    box-shadow: 0 0 3px gray;
}

.tombol-aktif{
    cursor: pointer;
    transition: .2s;
}

.tombol-aktif:hover{
background: linear-gradient(#fcf,#f0f);
transform: scale(1.1);
}

.tombol-nonaktif{
    box-shadow: none !important;
}


